flows .json
[{"id":"808aab66.54e5e8","type":"ui_text","z":"98885692.548fb8","group":"a10271af.84858","order":0,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":4653,"y":4338,"wires":[]},{"id":"b9713b6c.1d08c8","type":"ui_form","z":"98885692.548fb8","name":"","label":"","group":"a10271af.84858","order":0,"width":0,"height":0,"options":[{"label":"fever","value":"fever","type":"number","required":true},{"label":"rigor","value":"rigor","type":"number","required":true},{"label":"fatigue","value":"fatigue","type":"number","required":true},{"label":"headace","value":"headace","type":"number","required":true},{"label":"bitter_tongue","value":"bitter_tongue","type":"number","required":true},{"label":"vomitting","value":"vomitting","type":"number","required":true},{"label":"diarrhea","value":"diarrhea","type":"number","required":true},{"label":"jundice","value":"jundice","type":"number","required":true},{"label":"cocacola_urine","value":"cocacola_urine","type":"number","required":true},{"label":"sex_Female","value":"sex_Female","type":"number","required":true},{"label":"sex_Male","value":"sex_Male","type":"number","required":true}],"formValue":{"fever":"","rigor":"","fatigue":"","headace":"","bitter_tongue":"","vomitting":"","diarrhea":"","jundice":"","cocacola_urine":"","sex_Female":"","sex_Male":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":4244,"y":3968,"wires":[["e02d36c5.669498"]]},{"id":"e02d36c5.669498","type":"function","z":"98885692.548fb8","name":"parameters","func":"global.set(\"fever\",msg.payload.fever)\nglobal.set(\"rigor\",msg.payload.rigor)\nglobal.set(\"fatigue\",msg.payload.fatigue)\nglobal.set(\"headace\",msg.payload.headace)\nglobal.set(\"bitter_tongue\",msg.payload.bitter_tongue)\nglobal.set(\"vomitting\",msg.payload.vomitting)\nglobal.set(\"diarrhea\",msg.payload.diarrhea)\nglobal.set(\"jundice\",msg.payload.jundice)\nglobal.set(\"cocacola_urine\",msg.payload.cocacola_urine)\nglobal.set(\"sex_Female\",msg.payload.sex_Female)\nglobal.set(\"sex_Male\",msg.payload.sex_Male)\nreturn msg;","outputs":1,"noerr":0,"x":4461,"y":3981,"wires":[["3bf897f6.7e3578"]]},{"id":"3bf897f6.7e3578","type":"http request","z":"98885692.548fb8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":4422,"y":4089,"wires":[["b726c0d1.3be28","b2ab83f2.a8b9c"]]},{"id":"b726c0d1.3be28","type":"debug","z":"98885692.548fb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":4644,"y":4091,"wires":[]},{"id":"b2ab83f2.a8b9c","type":"function","z":"98885692.548fb8","name":"prediction","func":"var token=msg.payload.token\nvar fever=global.get(\"fever\")\nvar rigor=global.get(\"rigor\")\nvar fatigue=global.get(\"fatigue\")\nvar headace=global.get(\"headace\")\nvar bitter_tongue=global.get(\"bitter_tongue\")\nvar vomitting=global.get(\"vomitting\")\nvar diarrhea=global.get(\"diarrhea\")\nvar jundice=global.get(\"jundice\")\nvar cocacola_urine=global.get(\"cocacola_urine\")\nvar sex_Female=global.get(\"sex_Female\")\nvar sex_Male=global.get(\"sex_Male\")\nmsg.payload={\"fields\":[\"fever\",\"rigor\",\"fatigue\",\"headace\",\"bitter_tongue\",\"vomitting\",\"diarrhea\",\"jundice\",\"cocacola_urine\",\"sex_Female\",\"sex_Male\"],\"values\":[[fever,rigor,fatigue,headace,bitter_tongue,vomitting,diarrhea,jundice,cocacola_urine,sex_Female,sex_Male]]}\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":4396,"y":4184,"wires":[["d0328fae.1027e"]]},{"id":"d0328fae.1027e","type":"http request","z":"98885692.548fb8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/4abfa802-d655-44e8-8fb0-6b9a18257a61/deployments/bfe9d7ed-5888-489c-a617-b0fd858c4059/online","tls":"","proxy":"","authType":"basic","x":4634,"y":4181,"wires":[["e94037aa.904728","d0ea5945.a01e68"]]},{"id":"d0ea5945.a01e68","type":"debug","z":"98885692.548fb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":4869,"y":4110,"wires":[]},{"id":"e94037aa.904728","type":"function","z":"98885692.548fb8","name":"","func":"msg.payload=msg.payload.values[0][0]\nif(msg.payload===0)\n{\n    msg.payload=\"No Severe Malaria\"  \n    return msg;\n}\nelse\n{\n    msg.payload=\"Severe Malaria\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":4407,"y":4287,"wires":[["808aab66.54e5e8"]]},{"id":"a10271af.84858","type":"ui_group","z":"","name":"input parameters","tab":"c76d0f7c.1d131","disp":true,"width":"6","collapse":false},{"id":"c76d0f7c.1d131","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]